#!/bin/sh

pid={{ unicorn.pid_file }}
old_pid=$pid.oldbin
timeout=60

set -u

cd {{ current_application_link }} || exit 1

sig() {
  test -s $pid && kill -$1 `cat $pid`
}

oldsig () {
    test -s $old_pid && kill -$1 `cat $old_pid`
}

cmd() {
 exec sudo su -s /bin/sh -c 'BUNDLE_GEMFILE={{ current_application_link }}/Gemfile; bundle exec unicorn -c {{ shared_path }}/unicorn.rb -D -E {{ unicorn.rails_env }}' {{ web_user }}
}

case $1 in
start)
  sig 0 && echo >&2 'Already running' && exit 0
  cmd
  ;;
stop)
  sig QUIT && echo 'Stopping' && exit 0
  echo >&2 'Not running'
  ;;
restart)
    if sig USR2 && sleep 3 && sig 0 && oldsig QUIT
    then
	n=$timeout
	while test -s $old_pid && test $n -ge 0
	do
	    printf '.' && sleep 1 && n=$(( $n - 1 ))
	done

	echo

	if test $n -lt 0 && test -s $old_pid
	then
	    echo >&2 "$old_pid still exists after $timeout seconds"
	    exit 1
	fi
	exit 0
    fi
    echo >&2 "Couldn't upgrade, starting instead"
  cmd
    ;;
*)
    echo >&2 "Usage: $0 <start|stop|restart>"
    exit 1
    ;;
esac
